/* For sticky navigation bar */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #000000;
  font-family: 'Poiret One';
}

.logo {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 22px;
  color: #FFFFFF;
}

.navbar {
  display: flex;
  justify-content: space-around;
  width: 30%;
  list-style: none;
}

.navbar a{
  color: #FFFFFF;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
}

.navbar a:hover{
  opacity: 0.9;
  transition-duration: 0.4s;
  color: #000000;
  background-color: #45E5BE;
}

/* For home page */
#headquote {
  font-family: 'Krub';
  font-size: 40px;
  margin-left: 100px;
  margin-right: 700px;
}
