/* For sticky navigation bar */
/*
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #000000;
  font-family: 'Poiret One';
}
*/

html {
  scroll-behavior: smooth;
}

.logo {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 22px;
  color: #FFFFFF;
}

.navbar {
  display: flex;
  justify-content: space-around;
  width: 30%;
  list-style: none;
  flex-direction: row;
}

.navbar a{
  color: #FFFFFF;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  text-align: right;
}

.navbar a:hover{
  opacity: 0.9;
  transition-duration: 0.4s;
  color: #000000;
  background-color: #45E5BE;
}

/* Updated navigation bar */
.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: right;
  align-items: center;
  background: #37E596;
  color: black;
  height: 70px;
  font-family: 'Krub';
  position: fixed; /* Sets navbar to fixed position*/
  top: 0;
  width: 100%;
  z-index: 9999; /* To avoid overlapping */
}

.container {
  max-width: 1160px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: 'Krub';
  font-weight: bold;
}

.header-links {
  display: flex;
  flex-direction: row;
  font-family: 'Krub'
}


/* For home page */

/* Welcome */
.welcome {
  background-image: url("https://www.brickunderground.com/sites/default/files/styles/blog_primary_image/public/blog/images/4859177053_c3fb190917_o.jpg");
}

#headquote {
  font-family: 'Krub';
  font-size: 40px;
  margin-left: 100px;
  margin-right: 800px;
  /*margin-bottom: 500px;*/
  background-color: rgba(69, 229, 190, 0.7);
}

.welcome-caption{
  background-color: rgba(69, 229, 190, 0.7);
  ;
}

.phrase {
  font-family: 'Krub';
  color: #28CDC3;
}

/* Text animation */
.ml9 {
  position: relative;
  font-weight: 200;
  font-size: 4em;
}

.ml9 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml9 .letter {
  transform-origin: 50% 100%;
  display: inline-block;
  line-height: 1em;
}


#placeholder {
  font-family: 'Krub';
  font-size: 30px;
  text-align: center;
}

.caption {
  font-family: 'Krub';
  font-weight: bold;
}

/* Section 1*/
.intro_paragraph {
  font-family: : 'Krub';
  font-size: 25px;
  font-weight: normal;
}

.photo-right {
  display: flex;
  justify-content: center;
}

/* Section 2*/
.photo-left {
  display: flex;
  justify-content: center;
}

/* Section 3 - Three boxes */
.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
  font-family: 'Krub';
  background-color: #37E596;
}

.grid-item-title{
  font-weight: bold;
}

/* Footer */
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer.page-footer {
  height: 600px;
  padding-top: 60px;
}

footer
{
  color: #37E596;
  background-color: #353D3A;
}

.fa {
  padding: 20px;
  font-size: 100px;
  width: 100px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}


/* About Page */
.mission {
  text-align: center;
  /*background-image: url("https://cdn.discordapp.com/attachments/548720008801550360/686821850293993474/missionbg.png");*/
  opacity: 1.0;

}

#missiontitle {
  text-align: center;
  font-family: 'Krub';
  font-weight: bold;
  text-transform: uppercase;
  opacity: 1.0;
}

.mission-desc {
  font-size: 20px;
  background-color: rgba(248, 222, 4, 0.7););
  opacity: 1.0;
  color: black;
}

.founding {
  font-family: 'Krub';
  font-size: 18px;
  background-color: rgba(69, 229, 190, 0.7);
  text-align: center;
}

#ourteam {
  font-family: 'Krub';
  font-weight: bold;
  text-transform: uppercase;
}

.team {
  background-color: rgba(69, 229, 190, 0.7);
}
/* About - Three boxes */
.grid-item-team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
  font-family: 'Krub';
  background-color: #F8DE04;
}


/* Product */
#productend{
  font-family: 'Krub';
  font-size: 30px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/*FAQ Page*/
.help_section{
  margin-top: 50px;

}

.options {
  font-size: 20px;
}

.question_list {
  font-family: 'Krub';
  background-color: rgba(69, 229, 190, 0.7);
}


.question {
  margin-top: 50px;
  margin-left: 80px;
  font-size: 25px;
}

.answer {
  font-size: 20px;
  margin-left: 80px;
}


/*Contact Page*/
#contact_form {
  margin-left: 40px;
}

#contacttitle {
  color:  #37E596;
}