/* For sticky navigation bar */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #000000;
  font-family: 'Poiret One';
}

.logo {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 22px;
  color: #FFFFFF;
}

.navbar {
  display: flex;
  justify-content: space-around;
  width: 30%;
  list-style: none;
}

.navbar a{
  color: #FFFFFF;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
}

.navbar a:hover{
  opacity: 0.9;
  transition-duration: 0.4s;
  color: #000000;
  background-color: #45E5BE;
}

/* For home page */

.welcome {
  background-image: url("https://www.brickunderground.com/sites/default/files/styles/blog_primary_image/public/blog/images/4859177053_c3fb190917_o.jpg");
}

#headquote {
  font-family: 'Krub';
  font-size: 40px;
  margin-left: 100px;
  margin-right: 800px;
  /*margin-bottom: 500px;*/
  background-color: rgba(69, 229, 190, 0.7);
}

#placeholder {
  font-family: 'Krub';
  font-size: 30px;
  text-align: center;
}
